
### DevBox ###
/logs/*.log
/.box/reports/
/.box/state/
/.box/state/**
/.box/env/.env.local

raw
metastore_db
derby.log
.orbit/*
!.orbit/auto_tasks/
!.orbit/resources/
!.orbit/routines/
!.orbit/config.toml
.orbit/**/*.lock
